body {
    margin:0;
    padding:0
}

#app {
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-image {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-image: url('../../public/img/background.jpg');
    background-size: cover;
}

#background-image::before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
}