@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap");

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* высота на всю страницу */
    flex-direction: column;
}

.login header {
    position: relative;
    left: -14px;
    font-size: 50px;
    font-weight: 600;
}

.login form input,
.login form button {
    position: relative;
    left: 8px;
    width: 90%;
    padding: 15px 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
    border: 0;
    background: #222;
    color: #fff;
    outline-color: #222;
    font-size: 20px;
    box-sizing: border-box;
    transition: transform 500ms ease, outline-color 300ms ease-in-out, background-color 300ms linear;
}

.login form button:hover:not([disabled]) {
    transform: scale(1.03);
}

.login form button[disabled] {
    background-color: rgb(105, 105, 105);
}

.login form input:focus,
.login form button:focus {
    outline-color:  rgb(72, 203, 255);
    outline-style: solid;
    outline-width: 1px;
}

.login form p {
    position: relative;
    left: 8px;
}

.login form .top {
    margin-top: 5px;
}