@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap");

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.register header {
    position: relative;
    left: -14px;
    font-size: 50px;
    font-weight: 600;
    margin-top: 40px;
}

.register form input,
.register form button {
    translate: 5px;
    position: relative;
    left: 8px;
    width: 90%;
    padding: 15px 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
    border: 0;
    background: #222;
    color: #fff;
    outline: none;
    outline-color: #222;
    font-size: 20px;
    box-sizing: border-box;
    transition: transform 500ms ease, outline-color 300ms ease-in-out;
}

.register form button:hover:not([disabled]) {
    transform: scale(1.03);
}

.register form button[disabled] {
    background-color: rgb(105, 105, 105);
}

.register form input:focus,
.register form button:focus {
    outline-color: rgb(72, 203, 255);
    outline-style: solid;
    outline-width: 1px;
}

.register form .info {
    color: lightcoral;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.register form p {
    position: relative;
    left: 14px;
}

.register form .top {
    margin-top: 5px;
}